{
  "bracketSameLine": true,
  "printWidth": 120,
  "objectWrap": "collapse",
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }]
}
